ul {
    margin: 5px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 35px;
}

li {
    list-style-type: none;
}

button {
    margin: 5px;
}

.circle {
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}